In [5]:
import pandas as pd
import numpy as np
import gc
import os

In [6]:
BASE_PATH = "/home/saby/Projects/vanshil/for_ate_rpe/scripts_for_evaluation"
DYNAMIC_FILE = "original_preprocessed_pr.csv"
STATIC_ONLY_FILE = "mask_dynamic_pcd_without_noise.csv"
OUR_MODEL_FILE = "mask_pcd_without_noise.csv"

DYNAMIC_PATH = os.path.join(BASE_PATH,DYNAMIC_FILE)
STATIC_ONLY_PATH = os.path.join(BASE_PATH,STATIC_ONLY_FILE)
OUR_MODEL_PATH = os.path.join(BASE_PATH,OUR_MODEL_FILE)

In [13]:
pd.read_csv?

In [18]:
df_dynamic = pd.read_csv(DYNAMIC_PATH,header=None, delim_whitespace=True)
df_dynamic.shape

(3399, 6)

In [19]:
df_static_only = pd.read_csv(STATIC_ONLY_PATH,header=None, delim_whitespace=True)
df_static_only.shape

(3280, 6)

In [20]:
df_our_model = pd.read_csv(OUR_MODEL_PATH,header=None, delim_whitespace=True)
df_our_model.shape

(3283, 6)

In [22]:
df_dynamic.head()

          0        1    2    3         4         5
0  0.700006  1.10001  0.7  1.1  0.081271  0.000738
1  1.100010  1.60000  1.1  1.6  0.034770  0.001651
2  1.600000  2.20000  1.6  2.2  0.020043  0.000187
3  2.200000  2.80000  2.2  2.8  0.006990  0.000022
4  2.800000  3.40000  2.8  3.4  0.004496  0.000017

In [23]:
df_static_only.head()

     0    1    2    3         4         5
0  0.8  1.4  0.8  1.4  0.054730  0.003490
1  1.4  2.0  1.4  2.0  0.013746  0.000467
2  2.0  2.6  2.0  2.6  0.011401  0.000040
3  2.6  3.2  2.6  3.2  0.007364  0.000005
4  3.2  3.8  3.2  3.8  0.004646  0.000016

In [24]:
df_our_model.head()

          0        1    2    3         4         5
0  0.899994  1.50001  0.9  1.5  0.033739  0.003288
1  1.500010  2.09999  1.5  2.1  0.015208  0.000292
2  2.099990  2.70001  2.1  2.7  0.013334  0.000031
3  2.700010  3.29999  2.7  3.3  0.009612  0.000004
4  3.299990  3.90001  3.3  3.9  0.006828  0.000009

In [29]:
df_dynamic['frame'] = (df_dynamic[3].values*10).astype(int)
df_static_only['frame'] = (df_static_only[3].values*10).astype(int)
df_our_model['frame'] = (df_our_model[3].values*10).astype(int)

In [35]:
frame_list = list(set(df_dynamic['frame']).intersection(set(df_static_only['frame'])).intersection(set(df_our_model['frame'])))