In [1]:
import pandas as pd
import numpy as np
import gc
import os
import transforms3d

In [2]:
BASE_FOLDER = "/home/sabyasachi/Projects/ati/data/data/datasets/Carla/currentDataforCVPR/template0/dynamic/set5/"

In [3]:
df_gt = pd.read_csv(os.path.join(BASE_FOLDER, "groundTruth.csv"))
df_gt.shape

(355, 28)

In [4]:
df_gt.head()

,step,platform_timestamp,platform_timestamp_convert,game_timestamp,game_timestamp_convert,location_x,location_x_convert,location_y,location_y_convert,location_z,...,rotation_yaw_convert,rotation_roll,acceleration_x,acceleration_x_convert,acceleration_y,acceleration_y_convert,acceleration_z,forward_speed,steer,throttle
0,1,2147483648,1.073742e+11,400,20100.0,1.55999,109,149.830017,1011,39.430626,...,-448,0.0,0.000000e+00,100,0.000000e+00,100,0.0,0.000000e+00,0.199770,1.0
1,2,2147483648,1.073742e+11,800,40100.0,1.55999,109,149.830017,1011,39.373482,...,-448,0.0,-4.409542e-14,100,-5.966116e-09,100,0.0,2.386447e-09,0.199771,1.0
2,3,2147483648,1.073742e+11,1200,60100.0,1.55999,109,149.830017,1011,39.218452,...,-448,0.0,-4.405135e-14,100,-5.960153e-09,100,0.0,4.770508e-09,0.199771,1.0
3,4,2147483648,1.073742e+11,1436,71900.0,1.55999,109,149.830017,1011,38.965626,...,-448,0.0,-7.455358e-14,100,-1.008711e-08,100,0.0,7.152187e-09,0.199771,1.0
4,5,2147483648,1.073742e+11,1589,79550.0,1.55999,109,149.830017,1011,38.615105,...,-448,0.0,-1.150003e-13,100,-1.555955e-08,100,0.0,9.531483e-09,0.199771,1.0

In [5]:
qw_list = []
qx_list = []
qy_list = []
qz_list = []
for idx, row in df_gt.iterrows():
    roll = np.deg2rad(row['rotation_roll'])
    pitch = np.deg2rad(row['rotation_pitch'])
    yaw = np.deg2rad(row['rotation_yaw'])
    quaternion = transforms3d.euler.euler2quat(roll, pitch, yaw, axes='sxyz')
    qw_list.append(quaternion[0])
    qx_list.append(quaternion[1])
    qy_list.append(quaternion[2])
    qz_list.append(quaternion[3])

df_gt['qw'] = qw_list
df_gt['qx'] = qx_list
df_gt['qy'] = qy_list
df_gt['qz'] = qz_list

In [6]:
df_gt.columns

Index(['step', 'platform_timestamp', 'platform_timestamp_convert',
       'game_timestamp', 'game_timestamp_convert', 'location_x',
       'location_x_convert', 'location_y', 'location_y_convert', 'location_z',
       'orientation_x', 'orientation_x_convert', 'orientation_y',
       'orientation_y_convert', 'orientation_z', 'rotation_pitch',
       'rotation_pitch_convert', 'rotation_yaw', 'rotation_yaw_convert',
       'rotation_roll', 'acceleration_x', 'acceleration_x_convert',
       'acceleration_y', 'acceleration_y_convert', 'acceleration_z',
       'forward_speed', 'steer', 'throttle', 'qw', 'qx', 'qy', 'qz'],
      dtype='object')

In [7]:
df_gt.head()

,step,platform_timestamp,platform_timestamp_convert,game_timestamp,game_timestamp_convert,location_x,location_x_convert,location_y,location_y_convert,location_z,...,acceleration_y,acceleration_y_convert,acceleration_z,forward_speed,steer,throttle,qw,qx,qy,qz
0,1,2147483648,1.073742e+11,400,20100.0,1.55999,109,149.830017,1011,39.430626,...,0.000000e+00,100,0.0,0.000000e+00,0.199770,1.0,0.707104,0.0,0.0,-0.707109
1,2,2147483648,1.073742e+11,800,40100.0,1.55999,109,149.830017,1011,39.373482,...,-5.966116e-09,100,0.0,2.386447e-09,0.199771,1.0,0.707104,0.0,0.0,-0.707109
2,3,2147483648,1.073742e+11,1200,60100.0,1.55999,109,149.830017,1011,39.218452,...,-5.960153e-09,100,0.0,4.770508e-09,0.199771,1.0,0.707104,0.0,0.0,-0.707109
3,4,2147483648,1.073742e+11,1436,71900.0,1.55999,109,149.830017,1011,38.965626,...,-1.008711e-08,100,0.0,7.152187e-09,0.199771,1.0,0.707104,0.0,0.0,-0.707109
4,5,2147483648,1.073742e+11,1589,79550.0,1.55999,109,149.830017,1011,38.615105,...,-1.555955e-08,100,0.0,9.531483e-09,0.199771,1.0,0.707104,0.0,0.0,-0.707109

In [8]:
fname = os.path.join(BASE_FOLDER, "groundTruthPose.csv")

In [9]:
df_gt[['game_timestamp', 'location_x', 'location_y', 'location_z', 'qx', 'qy','qz', 'qw']].to_csv(fname, index=False)

In [10]:
fname

'/home/sabyasachi/Projects/ati/data/data/datasets/Carla/currentDataforCVPR/template0/dynamic/set5/groundTruthPose.csv'